<mat-sidenav-container>
  <mat-sidenav [opened]="true" [fixedInViewport]="true" mode="side" disableClose>
    <div>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedStrategy">
          <mat-option *ngFor="let strategy of strategies" [value]="strategy">{{strategy}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="input-field">
        <input type="text" placeholder="Select symbol" name="symbol" [(ngModel)]="selectedSymbol" [matAutocomplete]="auto">
        <label for="symbol">symbol</label>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let symbol of filteredSymbols" [value]="symbol" >
            {{ symbol }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="input-field">
        <input [(ngModel)]="period" name="period" type="number">
        <label for="period">period</label>
      </div>
      <div class="input-field">
        <input [(ngModel)]="signalPeriod" name="signalPeriod" type="number">
        <label for="signalPeriod">signalPeriod</label>
      </div>
      <div class="input-field">
        <button  mat-raised-button color="primary" (click)="onRefresh()">Refresh</button>
      </div>
    </div>          
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="candle-chart"></div>
    <div id="stoch-chart"></div>
  </mat-sidenav-content>
</mat-sidenav-container>









