<mat-sidenav-container>
  <mat-sidenav [opened]="true" [fixedInViewport]="true" mode="side" disableClose>
    <div>

      <mat-form-field>
        <mat-select [(ngModel)]="selectedStrategy">
          <mat-option *ngFor="let strat of strategies" [value]="strat">{{strat}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="selectedInterval">
          <mat-option *ngFor="let interval of intervals" [value]="interval">{{interval}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="input-field">
        <input type="text" placeholder="Select symbol" name="symbol" [(ngModel)]="selectedSymbol" [matAutocomplete]="auto">
        <label for="symbol">symbol</label>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let symbol of filteredSymbols" [value]="symbol" >
            {{ symbol }}
          </mat-option>
        </mat-autocomplete>
      </div>

      <div class="input-field">
        <input [(ngModel)]="selectedLimit" name="limit" type="number" max=1000 min=1>
        <label for="limit">limit</label>
      </div>

      <div class="title">Parameters</div>

      <div *ngIf="stratKeys">
        <div *ngFor="let strat of stratKeys">
          <label for="strat">{{strat}}</label>
          <div class="input-field min-max" *ngFor="let key of paramKeys[strat]" name="strat">
            <input [(ngModel)]="parameters[strat][key].current" name="parameters[strat][key].name" type="number">
            <label for="parameters[strat][key].name">{{parameters[strat][key].name}}</label>
          </div>
        </div>
      </div>

      <div class="input-field">
        <button  mat-raised-button color="primary" (click)="onRefresh()">Refresh</button>
      </div>

    </div>          
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="candle-chart"></div>
    <div *ngFor="let strat of stratKeys" id="{{strat}}-chart"></div>
  </mat-sidenav-content>
</mat-sidenav-container>









