/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.input-field {
    padding-bottom: 10px;
}

.input-field > input {
    width: 108px;
}

#candle-chart, #stoch-chart {
    height: 350px;
}

mat-form-field {
    display: block !important;
    width: 98%;
}

mat-form-field ~ mat-form-field {
    margin-top: -27px;
}

.mat-option {
    font-size: 15px !important;
}

.title {
    font-weight: bold;
    padding-left: 7px;
    margin-bottom: 10px;
    margin-top: 20px;
}

label {
    padding-right: 5px;
}

button {
    top: 10px;
}